<div class="firma-container">
    <div class="firma">Estudiante</div>
    <div class="firma">Director</div>
    <div class="firma">Coordinador</div>
</div>
</div>
<script>
const anio = document.getElementById("year");
year.innerText = `Año: ${new Date().getFullYear()}`;
</script>
</body>
</html>