<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TEst</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <div class="container">
            <div class="logo-container">
                <img src="/imgs/logo_tepsur.png" alt="logo_tepsur" />
            </div>
            <div class="title"><h2>FICHA DE MATRICULA</h2></div>
            <div class="foto">
                <span>FOTO</span>
            </div>
            <!-- Datos del estudiante -->
            <div>
                <span id="year"></span>
            </div>
        </div>
    </body>
</html>
